<div>
    <p> <%= post.content %></p>
    <p> <%= post.user.name %> </p>
</div>

<% if(locals.user && locals.user.id === post.user.id) { %>
    <a href="/posts/destroy/<%= post.id %>"> delete </a>
<% } %>


<div class="post-comments">
    <% if(locals.user) { %>
        <form action="comments/create" method="POST">
        <input type="text" name="content" placeholder="Type comment here...">
        <input type="hidden" name="post" value="<%= post._id%>">
        <input type="submit" value="Add comment">
        </form>
    <% } %>
</div>

<div id="post-comments-lists">
    <% for(comment of post.comments) { %>

        <%- include('_comment') -%>
        
    <% } %>

</div>
